body {
    /* width: 960px; */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 0 auto;
    background-image: url(../images/morocco.png)
}

.header-filler {
    background-color: #ffffff;
}

header {
    width: 960px;
    margin-left: 20%;
    background-color: #ffffff;
    color: #4aaaa5;
    
    font-family: 'Georgia', Times, Times New Roman, serif;
    
    
}

.main {
    width: 960px;
    margin-top: 25px;
    margin-left: 20%;
}

h1 {
    color: white;
    background-color: #4aaaa5;
    float: left;
    padding: 20px;
    margin-bottom: 0px;
}

nav {
    float: right;
    
    margin-top: 40px;
    margin-right: 25px;
    color: grey;
}
/* About Me Begins */
#main-bio {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-top: 0%;
    padding: 20px;

}

#main-bio h2 {
    color: #4aaaa5;
}

#main-bio img {
    margin: 20px;
    float: left;
    
}

#main-bio p {
    
}
/* About Me Ends */
footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    color: white;
    text-align: center; 
    
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Sticky Footer */
  html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
  }
  .footer,
  .push {
    height: 50px;
  }